.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 100px;
    border: none;
    box-shadow: 4px 4px 10px rgb(141, 141, 141);
    height: 550px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(248, 248, 238);
}
.a{
    text-decoration: none;
    color: rgb(110, 110, 110);
    font-size: 28px;
    transition: 1s;
    cursor: pointer;
}
.a:hover{
    color: black;
    font-size: 35px;
    text-shadow: 3px 3px 5px rgb(122, 122, 122);
}
