/* index.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(135deg, #00dbde, #fc00ff);
  margin: 0; /* Remova qualquer margem padrão do body */
}

/* Contêiner de nível mais alto */
#root {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  min-height: 100vh; /* Garante que a altura ocupe a tela inteira */
  width: 100%;
}